*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.continer{
    width: 80%;
}
.header-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header-head__logo a{
    text-decoration: none;
    font-size: 42px;
    font-weight: 900;
    color: rgb(50, 105, 207);
}
.header-head__logo span{
    color: brown;
}
.header-head__menu ul{
    display: flex;
    list-style: none;
}

.header-head__menu ul li{
    padding: 10px 30px;
}

.header-head__menu ul li a{
    text-decoration: none;
    color: rgb(50, 105, 207);
    font-size: 25px;
}

.header-head__search input{
    width: 150px;
    height: 30px;
    border: 1px solid silver;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 15px;
}



/****************************   Header body *******************************/


.header-body{
    background-image: url("images/header-body.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}

.header-body__text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.header-body__text h1{
    font-size: 50px;
}

.header-body__text p{
    font-size: 25px;
    margin-top: 30px;
}


/************************************ Footer page *********************************/

footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(50, 105, 207);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer-logo a{
    text-decoration: none;
    font-size: 42px;
    font-weight: 900;
    color: white;
}
.footer-logo span{
    color: yellow;
}

.footer-2023 p{
    font-size: 30px;
    font-weight: 700;
    color: white;
}